
.box {
  background-color: #bada55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;

  &.dragging {
    background-color: coral;
  }
  &.sortable.dragging {
    background: none;
    border: 1px dashed black;
    color: transparent;
  }
}

.area {
  background-color: #c0ffee;
  padding: 40px;
}
