
.box {
  background-color: #bada55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;

  &.dragging {
    background-color: coral;
  }
  &.sortable.dragging {
    background: none;
    border: 1px dashed black;
    color: transparent;
  }
  &.box-helper {
    pointer-events: none;
  }
}

.area {
  background-color: #c0ffee;
  padding: 40px;
}

button {
  margin-top: 20px;
}

ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-direction: column-reverse;

  &.horizontal {
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.dropzone {
  padding: 20px;
  margin: 20px 0;
  background-color: lightgray;
  min-height: 200px;
  border: 1px solid black;
  &.dropzone-activated {
    border: 1px solid blue;
  }
  &.dropzone-entered {
    background-color: #efefef;
  }
}
